.spacing  {
    padding-top: 129px;
    padding-left: 106px;
  }
  .mx-1 {
    padding-left: 100px;
    padding: auto;
  }
  .img-card {
  margin-left: -20px;  margin-right: 26px; width: 116%
}
.avatar {
width: 18%;
clip-path: circle(18px at 50% 50%);
}